{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to {{user.username}}'s blog</h1>
        <img src="{{url_for('static', filename='profile_images/' + user.profile_image)}}">

        {% for post in blog_posts.items %}
        <div class="blog-post-text">
            <h2><a href="{{url_for('blog_posts.blog_post, blog_post_id=post.id')}}">{{post.title}}</a></h2>
            Written by: <a
                href="{{url_for({{users.user_post', username=post.author.username)}}">{{post.author.username}}</a>
            <p class="text-muted">Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
            <br>
            <p>{{post.text}}</p>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if blog_posts.page == page_num %}
                <li class="page-item disabled">
                    <a href="{{url-for('users.user_post', username=user.username, page=page_num)}}" class="page-link">{{page_num}}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="{{url-for('users.user_post', username=user.username, page=page_num)}}" class="page-link">{{page_num}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}